<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            Love my Movies Katherine GG
        </title>
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <link rel="stylesheet" href="/static/css/st.css" >
    </head>
    <body>
        <div class="container1">
            <div class="big">
                <h1>
                    Our Favorite Movies
                </h1>
            </div>
            {% set top = dicc['top_rated']  %}
            {% for cont in range (top['titles']|length) %} 
                {% include 'includes/box.html' %}
            {% endfor %}
        </div>
        <div class="bigdiv">
            <div class="now">
                <h1>
                    Playing Now
                </h1>
                {% set top = dicc['playing_now']  %}
                {% for cont in range (top['titles']|length -10 ) %} 
                    {% include 'includes/box.html' %}
                {% endfor %}
            </div>
        </div>

        <div class="bigdiv">
            <div class="comin">
                <h1>
                    Up Coming
                </h1>
                {% set top = dicc['upcoming']  %}
                {% for cont in range (top['titles']|length -10) %} 
                    {% include 'includes/box.html' %}
                {% endfor %}
            </div>
            
        </div>
        
    </body>
</html>