<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            Love my Movies Katherine GG
        </title>
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <link rel="stylesheet" href="/static/css/st.css" >
        <!-- <link rel="stylesheet" href="/static/css/bootstrap.css/" > -->
    </head>
    <body>
        <div class="container1">
            <h1>
                Our Favorite Movies
            </h1>

            {% for cont in range (titulos|length) %} 
                {% include 'includes/box.html' %}
            {% endfor %}

        </div>

        <div class="container2">
            <h1>
                Categories
            </h1>
        </div>
    </body>
</html>